body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282828;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: flex-end;
    padding: 0,1px 0;
    color: rgb(255, 255, 255);
    background: repeating-linear-gradient(to right, #f1aec3, #e04f7d);
    border-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-right: 45px;
}

.album {
    display: flex;
    justify-content: flex-start;
    width: 85%;
    color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    margin-top: 120px; 
}

.cover {
    width: 280px;
    margin-right: 20px;
}

.player {
    position: fixed;
    bottom: 0;
    width: 110%;
    height: 11%;
    background-color: #3131317a;
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 1; /* Ajustando o z-index */
}

.subalbum, .Nome, .artista {
    margin-bottom: 10px;
}

.Nome {
    font-size: 2em;
}

.artista {
    color: #b3b3b3;
}

.musicas {
    max-height: 330px;
    overflow-y: auto;
    width: 100%;
    position: relative; 
    z-index: 2; 
}

.lista {
    display: flex;
    justify-content: space-between ;
    width: 80%;
    margin: 10px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 15px;
}

.lista:hover, .playing  {
    box-shadow: 0px 0px 10px rgba(169, 169, 169, 0.2);
    transform: scale(1.03);
}

.nomemu {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin-left: 1%;
    color: rgb(255, 255, 255);
}

.minu {
    text-align: right;
    margin-right: 1%;
    color: #b3b3b3;
    margin-top: 1.5%;
}

.tocador {
    display: none;
}


.progressContainer {
    width: 65%;
    margin-left: 17.5%;
}

#progressBar {
    width: 100%;
}

.controls{
    justify-content: center;
    display: flexbox;
    border-radius: 30px;

}

.prin{
    border-radius: 100px;
    width: 45px;
    height: 45px;
    background-color: #b3b3b3;
}

.volumeContainer {
    position: absolute;
    padding-left: 80%;
    top: 18%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}



#volumeSlider {
    width: 90px;
    height: 80px;
    transform: rotate(270deg);
    transform-origin: right;
}

.logo {
    width: 50px;
    margin-right: 10px;
}

.musicas::-webkit-scrollbar {
    width: 0;
}

.prox{
margin-right: 1400px;
width: 100px;
height: 70px;
background-color: #f09bb6;
border-color:  #f09bb6;
border-radius: 18px;
color: #282828;
}
